
<div class="video-container">
  <div class="video-div" id="firstDiv">
    <video
    [src]="firstVideoUrl"
    [autoplay]="true"
    [muted]="true"
    [loop]="true"
    preload="auto"
    playsinline
    #firstDiv
    type="video/mp4"
  ></video>
  </div>
  <div class="video-div" id="secondDiv">
    <video
    [src]="secondVideoUrl"
    [autoplay]="true"
    [muted]="true"
    [loop]="true"
    preload="auto"
    playsinline
    #secondDiv
    type="video/mp4"
  ></video>
  </div>
</div>

<button class="button-cl" (click)="playMe()">Play Me</button>